{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Library Book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lab9.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/web.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat Alternates' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bad Script' rel='stylesheet'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <script src="{% static 'js/lab9.js' %}"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="1035338547832-lko28uh75hlfih40uoreld3o4k5o7937.apps.googleusercontent.com">
   
</head>
<body>
  <script>
    function onLoad() {
      gapi.load('auth2', function() {
        gapi.auth2.init();
      });
    }
 
  </script> 
    <a href="{% url 'janitrapp:index' %}">
        <img src="{% static 'media/my_logo.png' %}" class="logo">
    </a>
    <header class="text-center">
        <h1>Favorites Books of the Month</h1>
        {% if name %}
        <h1 class="sub" style="color: #717171; padding-top: 2rem; font-size: 52px;">Hello, {{ name }}!</h1>
        
        <a href="{% url 'lab11:logout' %}"><button id="logout" onclick="signOut()" style="margin-top: 2rem;">LOGOUT</button></a>
        {% else %}
        <div class="g-signin2" style="padding: 20px; margin-left: 200px;" data-onsuccess="onSignIn"></div>
        {% endif %}
        <div class="bintang">
                <img src="{% static 'star.png' %}" alt="star" max-width="100px;" height="100px;">
                <div class="centered" id="counter">0</div>
        </div>
    </header>

    <div class="text-center" style="padding-top: 2%;">
		<input id="myInput" type="text" placeholder="Search for books..." value="">
    </div>

    <div class="tabel">
        <table id="demo" class="table table-light table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col" style="text-align: center;">No</th>
                        <th scope="col" style="text-align: center;">Add to Favorites</th>
                        <th scope="col" style="text-align: center;">Cover</th>
                        <th scope="col" style="text-align: center;">Categories</th>
                        <th scope="col" style="text-align: center;">Title</th>
                        <th scope="col" style="text-align: center;">Authors</th>
                        <th scope="col" style="text-align: center;">Publisher</th>
                    </tr>
                </thead>
                <tbody></tbody>
        </table>
    </div>
    <script src="{% static 'js/lab11.js' %}"></script>
    <script>
        function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.disconnect();
        window.location.href = "/lab11/";
        console.log('User signed out.');
        // auth2.signOut().then(function () {
        //     console.log('User signed out.');
        // });
      }
      </script>
</body>
</html>