{% extends "Web.html" %}
{% load staticfiles %}
{% block content %}
<div class="schedules" id="schedule">
    <h2 class="title">Subscribe Me</h2>
        <div class="col-md-12 text-center">
            <center>
                <form class="form_input" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                    <p class="label_tag">{{ field.label }} {{ field }}</p>
                    {% endfor %}
                    <input disabled=true id="submit" class="btn btn-info btn-lg" type="submit" value="Subscribe">
                </form>
            </center>
        </div>
    <div class="alert alert-success" id="dialog" title="Hello!"></div>
    <div id="wait" style="margin-bottom:30vh"></div>
</div>

    <h2 class="title">My Subscriber</h2>
    <div class="tabel">
            <table id="demo" class="table table-light table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col" style="text-align: center;">No</th>
                            <th scope="col" style="text-align: center;">Name</th>
                            <th scope="col" style="text-align: center;">Email</th>
                            <th scope="col" style="text-align: center;">Unsubscribe</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
            </table>
        </div>
{% endblock %}