{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-signin-client_id" content="1035338547832-lko28uh75hlfih40uoreld3o4k5o7937.apps.googleusercontent.com">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/web.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bad Script' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://apis.google.com/js/plus.js?onload=start"></script>
    <script>
    function start() {
    gapi.load('auth2', function () {
        auth2 = gapi.auth2.init({
            client_id: 1035338547832-lko28uh75hlfih40uoreld3o4k5o7937.apps.googleusercontent.com,
            });
        });
    }
</script>

</head>
<body>
    <a href="{% url 'janitrapp:index' %}">
            <img src="{% static 'media/my_logo.png' %}" class="logo">
    </a>
    <div class="message text-center">
        <div class="form">
            <h1 class="sub" style="font-size: 54px;">Google Books Collections</h1>
            <section>
                {% csrf_token %}
                <div>
                    <h5 class="text" style="text-align: center">Please Login First with Your Google Account!</h5>
                    <div class="g-signin2" style="padding: 20px; margin-left: 175px;" data-onsuccess="onSignIn"></div>
                </div>
            </section>
        </div>
    </div>
</body><script>

function onSignIn(googleUser) {
    var id_token = googleUser.getAuthResponse().id_token;
    var profile = googleUser.getBasicProfile();
    console.log(profile.getName());
    sendToken(id_token);
    console.log(id_token);
    console.log("Logged In");
}

function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.disconnect();
    console.log('User signed out.');
    // auth2.signOut().then(function () {
    //     console.log('User signed out.');
    // });
}</script>
<script rel="script" type="text/javascript" src="{% static 'js/lab11.js' %}"></script>
</html>
