#id_email, #id_name, #id_password{
	border-radius:10px;
}

form{
	font-size:20px;
}

#dialog{
	border-radius:10px;
}

#wait{
	margin-top: 20px;
	text-align: center;
	font-size: 20px;
}

.btn{
	background-color: #DD999E;
}

p{
	width: 90%;
	align-content: center;
    padding: 12px; /* Some padding */  
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical 
}
