#submit {
    align-content: center;
}

/* .box {
    align-content: center;
} */

label {
    text-align: center;
}


h1 {
    text-align: center; 
    padding-top: 5rem; 
    font-family: 'Montserrat Alternates';
    font-size: 60px;
    }

table {
    
    border-collapse: collapse;
    width: 100%;
    padding: 8px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}
 
#loader-wrapper .loader-section.section-left {
    left: 0;
}
 
#loader-wrapper .loader-section.section-right {
    right: 0;
}

#loader {
    z-index: 1001;
}