#submit {
    align-content: center;
}

/* .box {
    align-content: center;
} */

label {
    text-align: center;
}


h1 {
    text-align: center; 
    padding-top: 5rem; 
    font-family: 'Montserrat Alternates';
    font-size: 60px;
    }

table {
    
    border-collapse: collapse;
    width: 100%;
    padding: 8px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
