#submit {
    align-content: center;
    margin-left: 48.5%;
}

.box {
    align-content: center;
}

label {
    text-align: center;
    padding-left: 50%;
}

.form-control {
    width: 45%;
    margin-left: 30%;
    padding-top: 10%;
}
