#submit {
    align-content: center;
}

/* .box {
    align-content: center;
} */

label {
    text-align: center;
}


h1 {
    text-align: center; 
    padding-top: 5rem; 
    font-family: 'Montserrat Alternates';
    font-size: 60px;
    }

table {
    
    border-collapse: collapse;
    width: 100%;
    padding: 8px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('http://www.downgraf.com/wp-content/uploads/2014/09/01-progress.gif?e44397') 50% 50% no-repeat rgb(249,249,249);
}
