body {
    background: #FFD8DA;
}

h1 {
    color: #828282;
    text-align: center; 
    padding-top: 5rem; 
    font-family: 'Montserrat Alternates';
    font-size: 60px;
}

.tabel {
    padding-top: 2%; 
    margin-left: 10%;
    margin-right: 10%;
}