body {
    background: #FFD8DA;
}

h1 {
    color: #828282;
    text-align: center; 
    padding-top: 5rem; 
    font-family: 'Montserrat Alternates';
    font-size: 60px;
}

.bintang {
    position: relative;
    text-align: center;
    color: #828282;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tabel {
    padding-top: 2%; 
    margin-left: 10%;
    margin-right: 10%;
}

#myInput {
    background-image: url('https://image.flaticon.com/icons/svg/34/34202.svg');
    background-size: 23px 23px;
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 80%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
