.navbar1 {
    position: fixed; 
    z-index: 1;
    width: 180px;
    height: 33px;
    padding: 55px 0;
    /* overflow: hidden; */

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-align: center;

    color: #4F4F4F;
    background-color: white;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar-toggler-icon {
    right: 15px;
    top: 50%;
    margin-top: -16px;
    padding-left: 40px;
}

.navbar-collapse {
    background: white;
}

.logo {
    position: fixed;
    width: 124px;
    height: 124px;
    left: -16px;
    top: -16px;
}

.cover-photo{
    position: relative;
}

.bhome{
    max-width: 100%;
    height: auto;
    background-size: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content; 
    opacity: 0.6;

}

.anit {
    text-align: center;
    font-family: 'Montserrat Alternates';
    color: #4F4F4F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

@media screen and (min-width: 1000px){
    .anit{
    font-size: 72px;
    padding-left: 8px;
    }
}


.about {
    background: #DBDDDC;
    padding-top: 95px;
    padding-bottom: 100px;
    text-align: center;
}

.title {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 72px;
    text-align: center;

    color: #000000;
}

.sub {
    height: 92px;
    left: 848px;
    top: 262px;
    left: 50%;
    right: 50%;
    font-family: 'Bad Script';
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 64px;
    text-align: center;

    color: #000000;
}

.text {
    font-family: 'Montserrat';
    line-height: 29px;
    font-size: 20px;
    
    color: #000000;
}
.container-detail{
    text-align: center;
}

@media screen and(max-width: 765px){
    .container-detail {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

@media screen and(min-width: 1000px){
    .container-detail {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

.id {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    line-height: 37px;
    font-size: 25px;
    text-align: center;

    color: #DD999E;
}

.foto {
    width: 358px;
    height: 358px;
    align-content: center;
    border-radius: 50%;
    margin-right: 0 auto;
    margin-left: 0 auto;
    
}

@media screen and (max-width: 320px) {
    .foto {
         width: 239px;
         height: 239px;
    }
}

@media screen and (min-width: 2100px) {
    img {
         width: 358px;
         height: 358px;
    }
}

.photos {
    background: #FFFFFF;
    padding-top: 95px;
    padding-bottom: 220px;

}

.row {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.photo {
    margin: 10%;
    background-color: red;
    border-radius: 30px;
}

.photo img {
    width: 80%;
    max-width: 800px;
    max-height: 500px;
    padding: 10%;
}

.container {
    flex-wrap: wrap;
    justify-content: center;
    left: 500px;
}

.pink {
    max-width: 720px;
    max-height: 430px;
    top: 220px;
    bottom: 220px;
    padding-top: 20px;

    background: #DD999E;
    border-radius: 40px;
}

.slide {
    max-width: 680px;
    max-height: 390px;
    top: 224px;


    border-radius: 40px;
    align-content: center;
}

.centerimg {
    margin-left: auto;
    margin-right: auto;
}

.dot {
    width: 23px;
    height: 23px;
    left: 573px;
    top: 634px;
  
    background-color: #C4C4C4;
    border-radius: 50%;
    display: inline-block;
    align-items: center;
}

.contact {
    background: #828282;
    padding-top: 95px;
    padding-bottom: 220px;
    text-align: center;

}

.icon {
    width: 63.63px;
    height: 57.49px;
    left: 239px;
    top: 324px;
}

.message {
    background: #FFD8DA;
    padding-top: 95px;
    padding-bottom: 100px;
}

.schedules {
    background: #DBDDDC;
    padding-top: 100px;
    padding-bottom: 100px;
    align-content: center;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=date] {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical 
}

input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=password], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #DD999E;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #DD999E;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 10s;
  animation-name: fade;
  animation-duration: 10s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.form {
    background: #FFFFFF;
    padding: 40px;
    max-width:600px;
    margin:40px auto;
    border-radius: 4px;
    box-shadow:0 4px 10px 4px;
  }

/* .navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
} */