<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Janitra Ariena</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Montserrat Alternates' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Dancing Script' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bad Script' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/web.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/jsqu.js' %}"></script>
  </head>

<body>
<div class="loader"></div>
<div class="about" id="2">
      <a href="{% url 'janitrapp:index' %}">
        <img src="{% static 'media/my_logo.png' %}" class="logo">
      </a>
      <h2 class="title">Introducing Me</h2>
      <p class="text">NPM: 1706979316</p>
      <p>
  
      </p>
      <div class="row">
        <div class="col-md-4">
          <h3 class="sub">About me</h3>
        
          <p class="text">
            I am an undergraduate student at Universitas Indonesia majoring in Computer Science. I like to listening some musics and watching some movies.		</p>
        </div>
        <div class="col-md-4 text-center">
          <img src="{% static 'media/id.jpg' %}" alt="Janitra Ariena Sekarputri" class="foto img-responsive center-img"/>
        </div>
        <div class="col-md-4">
          <div class="container-detail">
          <h3 class="sub">Details</h3>
          <p class="text">
            <strong class="id">Name:</strong><br />
            Janitra Ariena Sekarputri<br />
            <strong class="id">Birth of Date</strong><br />
            October 16th, 1999<br />
            <strong class="id">Nationality:</strong><br />
            Indonesia		</p>
          </div>
        </div>
      </div>
      </div>
      <div class="text-center">
        <a class="btn" style="background-color: #DD999E; color: #ffff; align-content: center; margin: 20px;" href="{% url 'lab6:add_status' %}" role="button">Click here to add your current status</a>
      </div>
    </div>

    <div class="row align-center">
        <form style="align-content: center" name="bgcolor form">Pick your color: 
            <select id="dropdown">
            <option value="#fff">Default
                <option value="#DAF6F0">Green Pastel
                <option value="#F2F2F2">Grey Pastel
                <option value="#EBC7D6">Pink Pastel
                <option value="#AACEED">Blue Pastel
                <option value="#E3C0B9">Brown Pastel    
            </select>
        </form>
    </div>

    <div id="accordion">
      <h3 class="sub" style="font-size: 40px; background-color: #DBDDDC;">Activity</h3>
      <div class="text text-center">
        <p>
        Working hard to get a S.Kom! Wish me luck!  
        </p>
      </div>

      <h3 class="sub" style="font-size: 40px; background-color: #DBDDDC;">Organizations and Experiences</h3>
      <div class="text text-center">
        <p>- Staff of Public Relation Open House Fasilkom 2017</p>
        <p>- Intern at Public Relation Bureau BEM Fasilkom 2017</p>
        <p>- HRD of Fundraising CGT Fasilkom 2018</p>
        <p>- Staff of Art and Culture of BEM Fasilkom 2018</p>
        <p>- Staff of Sponsorship COMPFEST X</p>
        <p>- Vice Person in Charge Event of Open House Fasilkom 2018</p>
      </div>
      <h3 class="sub" style="font-size: 40px; background-color: #DBDDDC;">Achievements</h3>
      <div class="text text-center">
        <p>
        Have done all story and challenges of PPW,
        to see more about my website visit janitraa.herokuapp.com
        </p>
      </div>
    </div>
</body>