<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat Alternates' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lab7.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/web.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="{% static 'js/jsqu.js' %}"></script>
</head>

<body>
    <div class="loader"></div>
    <div class="container">
        <a href="{% url 'janitrapp:index' %}">
            <img src="{% static 'media/my_logo.png' %}" class="logo">
        </a>
        <div class="row">
            <h1>Hello, Apa kabar?</h1>
        </div>

        <div class="row">
            <form name="bgcolor form">Pick your color: 
                <select id="dropdown">
                <option value="#fff">Default
                    <option value="#DAF6F0">Green Pastel
                    <option value="#F2F2F2">Grey Pastel
                    <option value="#EBC7D6">Pink Pastel
                    <option value="#AACEED">Blue Pastel
                    <option value="#E3C0B9">Brown Pastel    
                </select>
            </form>
        </div>

        <div class="row">
            <br>
            <form>Wanna see my profile? Click 
                <a class="btn" style="background-color: #DD999E; color: #ffff;" href="{% url 'lab6:profile' %}" role="button">My Profile</a>
            </form>
        </div>

        <div class="row text-center">
            <div class="col-lg-12 col-md-12 col-sm-12" style="margin: 50px 0;" >
                <section>
                    <div class="box">
                        <form method="POST" action="{% url 'lab6:add_status' %}">
                        {% csrf_token %}
                        {{form}}
                        <br>
                        <button id ="submit" type="submit" class="btn" style="background-color: #DD999E; color: #ffff">Submit</button>
                        </form>
                    </div>
                </section>
            </div>
        </div>

        <div class="row text-center">
            <table style="width:100%; text-align: center;">
                <tr>
                    <th>All Status</th>
                    <th>Date</th>
                </tr>
                {% for i in stats %}
                <tr>
                    <td> {{ i.status }} </td>
                    <td> {{ i.created_at }} </td>
                </tr>
                {% endfor %}
            </table>
            <br><br><br><br>
            </div>
    </div>
</body>
