<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Janitra Ariena</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Montserrat Alternates' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Dancing Script' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bad Script' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/web.css' %}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src= "{% static 'js/web.js' %}"></script>
  </head>

<body>
    <div id="navbar">
      <nav style="width: 100%;" class="navbar navbar1 navbar-expand-lg navbar-light">
        <a href="{% url 'janitrapp:index' %}">
          <img src="{% static 'media/my_logo.png' %}" class="logo">
        </a>
        <button style="border: none;" class="navbar-toggler" onclick="show(event);" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'janitrapp:index' %}">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#5">GALLERY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#6">CONTACT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#7">MESSAGE</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  FEATURES
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'janitrapp:my_schedule' %}">SCHEDULE</a>
                  <a class="dropdown-item" href="{% url 'janitrapp:sched_form' %}">ADD SCHEDULE</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'lab6:add_status' %}">ADD STATUS</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'lab10:index' %}">SUBSCRIBE</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'lab11:login' %}">GOOGLE BOOKS</a>
                </div>
              </li>
          </ul>
        </div>
      </nav>
      
    </div>
    <div class="sched-form">
      {% block content %}
      {% endblock %}
    </div>
</body>