{% extends "Web.html" %}
{% load static %}
{% block content %}
<div class="schedules" id="schedule">
    <h2 class="title">My Schedule</h2>
              <div class="col-md-12 text-center">
                <table style="width: 100%">
                    <thead>
                        <th>DATE</th>
                        <th>TIME</th>
                        <th>EVENT</th>
                        <th>PLACE</th>
                        <th>CATEGORY</th>
                    </thead>
                    <tbody>
                        {% for i in form_sched %}
                        <tr class = "warning">
                            <td> {{i.date}} </td>
                            <td> {{i.time}} </td>
                            <td> {{i.event_name}} </td>
                            <td> {{i.place}} </td>
                            <td> {{i.category}} </td>
                        {% endfor %}
                        </tr>
                    </tbody>
                </table>
                <br>
                <a href="{% url 'janitrapp:delete_data' %}"><button type="submit" class="btn" style="background-color: #DD999E; color: #ffff">Delete Schedule</button></a>
    </div>
</div>
{% endblock %}