{% extends "Web.html" %}
{% block content %}
<section name="add" style="padding-top: 95px">
    <h2 class="title">Add Schedule</h2>
    <form id="scheduleform" method="POST" action ="{% url 'janitrapp:add_schedule' %}">
        {% csrf_token %}
        {{forms.as_p}}
        <br>
        <button type="submit" class="btn" style="background-color: #DD999E; color: #ffff">Submit</button>
    </form>
</section>
{% endblock %}