<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Janitra Ariena</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Montserrat Alternates' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Dancing Script' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bad Script' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/web.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lab10.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src= "{% static 'js/web.js' %}"></script>
    <script src= "{% static 'js/lab10.js' %}"></script>
  </head>

<body>
  <div class="home" id="1">
    <div class="navbar-frame">
      {% block navbar %}
      {% include "navbar.html" %}
      {% endblock %}
    </div>
    <div class="cover-photo">
        <h1 class="anit">Janitra Ariena Sekarputri</h1>
        <img src="{% static 'media/home.JPG' %}" class="bhome">    
    </div>
  </div>
  
  <div class="about" id="2">
      <h2 class="title">Introducing Me</h2>
    <p class="text">NPM: 1706979316</p>
    <p>

    </p>
    <div class="row">
      <div class="col-md-4">
        <h3 class="sub">About me</h3>
      
        <p class="text">
          I am an undergraduate student at Universitas Indonesia majoring in Computer Science. I like to listening some musics and watching some movies.		</p>
      </div>
      <div class="col-md-4 text-center">
        <img src="{% static 'media/id.jpg' %}" alt="Janitra Ariena Sekarputri" class="foto img-responsive center-img"/>
      </div>
      <div class="col-md-4">
        <div class="container-detail">
        <h3 class="sub">Details</h3>
        <p class="text">
          <strong class="id">Name:</strong><br />
          Janitra Ariena Sekarputri<br />
          <strong class="id">Birth of Date</strong><br />
          October 16th, 1999<br />
          <strong class="id">Nationality:</strong><br />
          Indonesia		</p>
        </div>
      </div>
    </div>
    </div>
  </div>

    <div class="photos" id="5">
        <h3 class="title" >Photos of Me</h3>
        <div class="slideshow-container">

          <!-- Full-width images with number and caption text -->
          <div class="mySlides fade item active">
            <div class="numbertext">1 / 6</div>
            <img src="{% static 'media/foto1.JPG' %}" style="width:100%">
          </div>
        
          <div class="mySlides fade">
            <div class="numbertext">2 / 6</div>
            <img src="{% static 'media/foto2.jpg' %}" style="width:100%">
          </div>
        
          <div class="mySlides fade">
            <div class="numbertext">3 / 6</div>
            <img src="{% static 'media/foto3.JPG' %}" style="width:100%">
          </div>
  
          <div class="mySlides fade">
              <div class="numbertext">4 / 6</div>
              <img src="{% static 'media/foto4.JPG' %}" style="width:100%">
          </div>
          
          <div class="mySlides fade">
              <div class="numbertext">5 / 6</div>
              <img src="{% static 'media/foto5.JPG' %}" style="width:100%">
          </div>
  
          <div class="mySlides fade">
              <div class="numbertext">6 / 6</div>
              <img src="{% static 'media/foto6.JPG' %}" style="width:100%">
          </div>
  
        
          <!-- Next and previous buttons -->
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>
      
        <!-- The dots/circles -->
        <div style="text-align:center">
          <span class="dot" onclick="currentSlide(1)"></span> 
          <span class="dot" onclick="currentSlide(2)"></span> 
          <span class="dot" onclick="currentSlide(3)"></span> 
          <span class="dot" onclick="currentSlide(4)"></span> 
          <span class="dot" onclick="currentSlide(5)"></span> 
          <span class="dot" onclick="currentSlide(6)"></span> 
        </div> 
    </div>
    
  <div class="contact" id="6">
    <h2 class="title">Contact Me</h2>
    <br>
    <br>

    <div class="row">
      <div class="col-md-6">
        <a href="http://ui.ac.id" target="_blank" class="text">
          <img src="{% static 'media/mail.svg' %}" class='icon'>
                   janitra.ariena@ui.ac.id				</a>
        <br>
        
        <a href="+6287888905656" target="_blank" class="text">
            <img src="{% static 'media/call.svg' %}" class='icon'>
              +62-878-8890-56-56				</a>
      </div>
      <div class="col-md-6">
            <a href="http://twitter.com/janitraarienaa" target="_blank" class="text">
              <img src="{% static 'media/twtr.png' %}" width= '82px' height= '74px'>
              janitraarienaa				</a>
            <br>

            <a href="http://instagram.com/janitraasp" target="_blank" class="text">
              <img src="{% static 'media/ig.png' %}" width= '63.63px' height= '57.49px'>
              janitraasp				</a>
      </div>
      <div class='col-md-12'>
      <a href="http://linkedin.nl/in/janitra-ariena/" target="_blank" class="text">
        <img src="{% static 'media/in.svg' %}" class='icon'>
              http://linkedin.nl/in/janitra-ariena/				</a>
      <br>
      <a href="https://www.google.co.id/maps/place/Jakarta" target="_blank" class="text">
        <img src="{% static 'media/loc.svg' %}" class='icon'>
              Jakarta, Indonesia				</a>
      </div>
    </div>
  </div>

  <div class="message" id="7">
      <h2 class="title">Message Me</h2>
      <div class="container">
          <form action="action_page.php">
            <div class="row">
              <div class="col-md-12">
                  <label for="fname">Name</label>
                  <input type="text" id="fname" name="name" placeholder="Your name..">
              </div>
              <div class="col-md-12">
                  <label for="fdate">Date</label>
                  <input type="date" id="fdate" name="date">
              </div>
              <div class="col-md-12">
                  <label for="email">Email</label>
                  <input type="text" name="mail" placeholder="May I have your email please..">

              </div>
              <div class="col-md-12">
                  <label for="subject">Subject</label>
                  <textarea id="text" name="subject" placeholder="What do you want to say?"></textarea>
              
              </div>
              <div class="col-md-12">
                  <label for="pesan">Message</label>
                  <textarea id="text" name="subject" placeholder="Write something.." style="height:300px"></textarea>
              </div>
              <div class="col-md-12">
                  <input type="submit" value="Submit">
              </div>
              </form>
          </div>
      </div>
    </div>
  
        {% block content %}
        {% endblock %}
  

  </body>
</html>